< ! DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Task Manager</title>

</head>

<body>

    <nav>

        <a href="/tasks">Dashboard</a>

        <a href="/logout">Logout</a>

    </nav>

    <%= body %>

</body>

</html>

